html {
    background: #006994;
}

body {
    opacity: 1;
}

.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    /* opacity: 1; */
    opacity: 0;
}

.ready-text {
    /* opacity: 0; */
}

.bg-load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg-loadScreen.jpg);
    background-size: cover;
    background-position: 50% 0%;
}

.loadScreen-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ldBar {
    margin: 0 auto;
    font-size: 0 !important;
    width: 20vh !important;
    height: 20vh !important;
}

.load-txt-container {
    position: relative;
    max-width: 100%;
    width: 30vh;
    transform: translateY(-200%);
}

.load-txt-1 {
    position: relative;
}

.load-txt-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

img {
    width: 100%;
}