html {
    background: #006994;
}

body {
    opacity: 1;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.container {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.ready-text {
    opacity: 0;
}